.option {
  width: 50vw;
  height: 100vh;
  font-weight: bold;
  font-size: 4rem;  
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include flexCenter;

  &__title {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 5rem;
    font-size: 2.5rem;
    background-color: $color-highlight;
    color: $color-tertiary;
    padding: 1rem 4rem;
    border-radius: 30px;

    &--single {
      text-align: center;

      span {
        background-color: $color-tertiary;
        color: $color-secondary;
        border-radius: 5px;
        padding: 0 1rem;
      }

      &::before, 
      &::after {
        content: '';
        display: block;
        margin: 2rem 0;
        width: 100%;
        height: 3px;
        background-color: $color-tertiary;
      }
    }
  }

  &__container {
    display: flex;
    overflow-y: hidden;
  }

  &__img {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 3rem;
    border: 7px solid transparent;

    &--single {
      border-color: $color-tertiary;
      padding: 1rem;
    }
  }

  &--first {
    color: $color-secondary;

    &.transition-left {
      transform: translateX(-1000px);
    }

    &:hover {
      background-color: darken($color-tertiary, 2%);
      color: lighten($color-secondary, 5%); 
    }

    img {
      border-color: $color-secondary;
    }
  }

  &--second {
    color: $color-tertiary;
    background-color: $color-secondary;

    &.transition-right {
      transform: translateX(1000px);
    }

    &:hover {
      background-color: darken($color-secondary, 5%);
    }

    img {
      border-color: $color-highlight;
    }
  }

  &--single {
    width: 95%;
    height: 95%;
    background-color: $color-secondary;
    color: $color-tertiary;
    font-size: 3rem;
    padding: 3rem;
    border: 10px solid $color-tertiary;

    @include flexCenter;
    flex-direction: column;

    img {
      width: 20%;
    }
  }

  &__border {
    @include flexCenter;
    background-color: $color-secondary;
    width: 100vw;
    height: 100vh;
  }
}