// COLOR VARIABLES
$color-primary: #000;
$color-secondary: #e91327;
$color-tertiary: #f5f3ee;
$color-highlight: #004369;
// FONT VARIABLES
$font-primary: "Montserrat", serif;
$font-secondary: "Agu Display", serif;